* {
    box-sizing: border-box;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: pink;
    top: 0;
    left: 0;
    z-index: 0;
}

.main {
    z-index: 1;
    position: relative;
    background-color: white;
    width: 30%;
    float: right;
    margin: 20px;
    padding: 20px;
    height: 700px;
    overflow: scroll;
}
/* 
Optional: Makes the sample page fill the window.  */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.form {
    padding: 1.5em;
    background-color: lightgray;
}

textarea {
    width: 90%;
    resize: none;
}

.searchbar {
    border-style: solid 3px;
    padding: 0.5rem;
    width: calc(12*--column-width);
    position: relative;
}

.labels {
    background-color: grey;
    color: white;
}