
$background_color: #F1FAEE;
$primary_color:#1D3557;
$secondary_color: #457B9D;
$tertiary_color: #A8DADC;
$accent_color: #1D3557;
$extra_color: #E63946;
$main_font: 'Work Sans', sans-serif;
$snd_font: 'Lato', sans-serif;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    font-family: 'Work Sans', sans-serif;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $background_color;
    top: 0;
    left: 0;
    z-index: 0;
}

.main {
    z-index: 1;
    position: relative;
    background-color: rgba($background_color, 0.9);
    color: $primary_color;
    width: 30%;
    float: right;
    margin: 10px;
    padding: 10px;
    height: 90vh;
    overflow: scroll;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.block {
    padding: 0.5em 0.5em;

    .header {
        position: relative;
    }
}

button.menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#filter {
    margin-top: 0px;
    margin-bottom: 1em;
    background-color: $tertiary_color;

    ul {
        list-style-type: none;
    }

    .searchbar {
        border-style: solid 3px;
        padding: 0.5em;
        width: calc(12*--column-width);
        position: relative;
        margin-bottom: 1em;
        width: 100%;
    }

    .togglable {
        padding: 1em;
    }

    .checkbox:checked {
        background-color: $accent_color;
    }
}

#form {
    margin-bottom: 1em;
    background-color: $tertiary_color;

    input {
        background-color: $background_color;
        border: 1px solid $primary_color;
    }

    #title {
        padding: 1em 0.5em;
        width: 100%;
    }
    
    textarea {
        padding: 1em 0.5em;
        width: 100%;
        resize: none;
        background-color: $background_color;
    }
    input[type="submit"] {
        background-color: $secondary_color;
    }
}

#menu {
    overflow-x: hidden;

    .place-content {
        padding-bottom: 1.5em;

        .firstRow {
            position: relative;

            .buttonsRow {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .removeButton:hover{
            background-color: $extra_color;
        }

        h2 {
            border-bottom: 1px solid $primary_color;
            margin-bottom: 1em;
        }

        .keyword {
            border-radius: 13px;
            padding: 0.1em 0.5em;
            background-color: $accent_color;
            color: $background_color;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            font-weight: lighter;
            width: auto;
            display: inline-block;
            margin-top: 1em;
        }

        .addKeyword {
            border-radius: 13px;
            padding: 0.1em 0.5em;
            background-color: $accent_color;
            display: inline;
            color: white;
        }

        .removeKeyword {
            margin-left: 0.3em;
            border-radius: 13px;
            padding: 0em 0.3em;
            background-color: $accent_color;
            display: inline;
            color: white;
        }

        .removeKeyword:hover {
            background-color: $extra_color;
        }

        #keywordForm {
            margin: 1.5em 0em;

            input {
                color: $accent_color;

                &#label {
                    padding: 1em 0.5em;
                    width: 80%;
                }
            }
            
            input[type="submit"] {
                background-color: $accent_color;
                color: $background_color;
            }
        }
    }

}
h3 {
    font: $snd_font;
    margin-left: 0.5em;
    font-size: 16px;
}

button, input[type="submit"] {
    border: 1px solid $background_color;
    color: $background_color;
    border-radius: 15px;
    background-color: $secondary_color;
}